## https://github.com/github/gitignore

src/*/bin/
src/*/obj/
lib/packages/
packages/
build/
bin/
log/
obj/
temp/
.vs/


*.suo
*.user
*.sln.docstates
*.dbmdl
*.dbconfig
*.log
*.cache
Thumbs.db


_ReSharper*/
*.csproj.ReSharper



