<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <!--
    Version for .NET.

    The `<system.diagnostics>` section is not preregistered,
    and must be declared in `<configSections>` before use.
  -->

  <configSections>
    <section name="system.diagnostics" type="System.Diagnostics.DiagnosticsConfigurationHandler" />
  </configSections>

  <system.diagnostics>
  </system.diagnostics>

</configuration>